{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'users'|trans }}</h1>

                <table class="table table-striped">
                    <tr>
                        <th>{{ 'nickname'|trans }}</th>
                        <th>{{ 'email'|trans }}</th>
                        <th>{{ 'phone_number'|trans }}</th>
                        <th>{{ 'account_status'|trans }}</th>
                        <th>{{ 'check_user_posts'|trans }}</th>
                        <th>{{ 'delete'|trans }}</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.nickname}}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phonenumber }}</td>
                            {% if user.isActive == 1 %}
                                <td>Active</td>
                            {% elseif user.isActive == 0 %}
                                <td>Needs e-mail confirmation</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('admin_user_diary', {'id': user.id}) }}" class="btn btn-xs btn-default"><span class="fa fa-eye"></span></a>
                            </td>
                            <td>
                                <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-xs btn-danger"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock %}