{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ 'diaries'|trans }}</h1>

                <table class="table table-striped">
                    <tr>
                        <th>{{ 'user'|trans }}</th>
                        <th>{{ 'title'|trans }}</th>
                        <th>{{ 'note'|trans }}</th>
                        <th>{{ 'attachment'|trans }}</th>
                        <th>{{ 'date'|trans }}</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            {% for u in user.diary %}
                                <tr>
                                    <td>{{ user.email}}</td>
                                    <td>{{ u.title }}</td>
                                    <td>{{ u.note }}</td>
                                    <td>
                                        {% if u.attachment ends with '.pdf'%}
                                            <a href="{{ asset('uploads/files/' ~ u.attachment) }}" class="btn btn-success"><span class="fa fa-file-pdf-o"></span></a>
                                        {% elseif u.attachment ends with '.png' or u.attachment ends with '.jpeg' or u.attachment ends with '.jpg'%}
                                            <a href="{{ asset('uploads/files/' ~ u.attachment) }}" class="btn btn-success"><span class="fa fa-file-image-o"></span></a>
                                        {% else %}
                                            <span class="fa fa-times"></span>
                                        {% endif %}

                                    </td>
                                    <td>{{ u.createdat|date("m/d/Y") }}</td>
                                </tr>
                        {% endfor %}

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}