{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit</h1>

                {{ form_start(form) }}
                    {{ form_row(form.nickname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phoneNumber) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>Edit</button>
                <a href="{{ path('user_change_password') }}" >Change password</a>
                {{ form_end(form) }}

            </div>

        </div>
    </div>
{% endblock %}