{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-xs-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    {% for user in diaries %}
                        <a href="{{ path('diaries_to_pdf') }}" class="btn btn-default pull-right">Generate
                            pdf <span class="fa fa-file-pdf-o"></span></a>
                    {% endfor %}
                    <a href="{{ path('diary_new') }}" class="btn btn-primary pull-right">Add <span
                                class="fa fa-plus-circle"></span></a>

                </div>

                <h1>Your Diaries</h1>

                <table class="table table-striped">
                    <tr>
                        <th>Title</th>
                        <th>Note</th>
                        <th>Attachment</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    {% for diary in diaries %}
                    <tr>
                        <td>{{ diary.title }}</td>
                        <td>{{ diary.note }}</td>
                        <td>
                            {% if diary.attachment ends with '.pdf' %}
                                <a href="{{ asset('uploads/files/' ~ diary.attachment) }}" class="btn btn-success"><span
                                            class="fa fa-file-pdf-o"></span></a>
                            {% elseif diary.attachment ends with '.png' or diary.attachment ends with '.jpeg' or diary.attachment ends with '.jpg' %}
                                <a href="{{ asset('uploads/files/' ~ diary.attachment) }}" class="btn btn-success"><span
                                            class="fa fa-file-image-o"></span></a>
                            {% else %}
                                <span class="fa fa-times"></span>
                            {% endif %}

                        </td>
                        <td>{{ diary.createdat|date("m/d/Y") }}</td>
                        <td>
                            <a href="{{ path('diary_edit', {'id': diary.id}) }}" class="btn btn-xs btn-success"><span
                                        class="fa fa-pencil"></span></a>
                        </td>
                        <td>
                            <a href="{{ path('diary_delete', {'id': diary.id}) }}" class="btn btn-xs btn-danger"><span
                                        class="fa fa-trash"></span></a>
                        </td>
                        <td>
                            <a href="{{ path('diary_to_pdf', {'id': diary.id}) }}" class="btn btn-xs btn-default"><span
                                        class="fa fa-file-pdf-o"></span></a>

                        </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}