<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_dir ~ '/../web/vendor/bootstrap/css/bootstrap.min.css' }}">
    <link rel="stylesheet" href="{{ base_dir ~ '/../web/css/pdf_styles.css' }}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1><img class="logo-icon" src="{{ base_dir ~ '/../web/images/diary.png' }}"> MyDiary</h1>
    </header>
    {% for diary in diaries %}
    <ul><h3><strong>{{ diary.title }}</strong></h3><p> {{ diary.createdAt|date("m/d/Y") }}</p></ul>
    {% if diary.attachment is not empty %}
        {% if diary.attachment ends with '.pdf' %}
            <ul><embed src="{{ base_dir ~ '/../web/uploads/files/' ~ diary.attachment }}"></ul>
        {% else %}
            <ul><img class="diary-picture" src="{{ base_dir ~ '/../web/uploads/files/' ~ diary.attachment }}"></ul>
        {% endif %}
    {% endif %}
    <ul>{{ diary.note }}</ul>
    {% endfor %}
</div>
</body>
</html>